.cadastro {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 70vh;            
  }

  form {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

.texto {
    display: flex;
    justify-content: center;  
    align-items: center; 
    font-size:30px;
    color: silver;
}

button{
    margin-top: 20px;
    align-items: center;
}